@import 'color';
$font : 'Signika', sans-serif;
.my-cover-letter{
    position: relative;
    width: 34%;
    height: 60%;
    left: 8%;
    top: 15%;
    user-select: none;
    .hello{
        width: 100%;
        height:100px;
        display: flex;
        align-items: center;
        color: $light-gray;
        font-family: $font;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .name{
        width: 100%;
        height: 150px;
        color: $light-green;
        font-family: $font;
        font-weight: 600;
        font-size: 90px;
    }
    .mini-about{
        width: 100%;
        height: 200px;
        color: $murble-gray;
        font-family: $font;
        font-weight: 500;
        font-size: 24px;
        float: left;
    }
    .more,.cv{
        position: relative;
        width: 160px;
        height: 60px;
        border: 1px solid $murble-gray;
        border-radius: 8px;
        font-family: $font;
        font-weight: 500;
        font-size: 20px;
        top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin-right: 20px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $murble-gray;
            text-decoration: none;
        }
    }
    .cv{
        background-color: $murble-gray;
        a{
            color: $dark-gray;
            font-size: 24px;
        }
    }
}