@import 'color';
$font : 'Signika', sans-serif;
.navbar{
    width: 100%;
    height: 100px;
    font-family: $font;
    font-weight: 600;
    font-size: 28px;
    .navbar-brand{
        width: 16%;
        height: 100px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light-green;
        text-align: center;
        user-select: none;
    }
    .navbar-link-group{
        width: 60%;
        height: 100px;
        float: left;
        list-style-type: none;
        font-size: 20px;
        padding: 0;
        margin: 0;
        .nav-link{
            width: 120px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            color: $murble-gray;
            margin-right: 20px;
            text-decoration: none;
            li{
                position: relative;
                .link-dot{
                    position: absolute;
                    background-color: $light-green;
                    width: 6px;
                    height: 6px;
                    border-radius: 99px;
                    margin: auto;
                    margin-top: 5px;
                    display: none;
                    left: 45%;
                }
            }
        }
        .active{
            color: $light-green;
            li{
                .link-dot{
                    display: block;
                }
            }
        }
    }
    .navbar-git{
        float: left;
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: end;
        align-items: center;
        .github-link{
            width: 120px;
            height: 40px;
            border: 1px solid $light-green;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light-green;
            font-size: 16px;
            text-decoration: none;
            .bi{
                margin-left: 10px;
            }
            &:hover{
                background-color: $light-green;
                color: $dark-gray;
            }
       }
    }
}