body{
    background-color: #121212;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
#navbar{
    width: 100%;
    height: auto;
}
#navbar .navbar{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#navbar .navbar .brand{
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #4ECCA3;
}
#navbar .navbar .link-group{
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    flex-grow: 1;
}
#navbar .navbar .link-group .link{
    width: 6rem;
    height: 3rem;
    box-sizing: border-box;
    margin: 0rem 0.5rem;
}
#navbar .navbar .link-group .link a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #4F5D75;
}
#navbar .navbar .link-group .link a:hover{
    color: #4ECCA3;
}
#navbar .navbar .github{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar .navbar .github a{
    border: 1px solid #4ECCA3;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    margin-right: 2rem;
    color: #4ECCA3;
    text-decoration: none;
}
#navbar .navbar .github a:hover{
    background-color: #4ECCA3;
    color: #4F5D75;
}
#home-content{
    max-width: 1600px;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
#home-content .mini-about{
    margin-top: -10%;
    width: 50%;
    height: auto;
    padding: 10rem 0rem;
    background: url("../img/mini-about-back.png") center center no-repeat;
    background-size:100%;
}
#home-content .mini-about span{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: -70px;
}
#home-content .mini-about h2{
    width: 100%;
    height: auto;
    font-size: 6rem;
    margin-bottom: -20px;
    color: #4ECCA3;
}
#home-content .mini-about p{
    width: 100%;
    height: auto;
    font-size: 2rem;
    color: #4F5D75;
}
#home-content .my-photo img{
    position: relative;
    top: -100px;
    width: 90%;
}
.about{
    width: 100%;
    height: 100vh;
    background: url("../img/Subtract.png") no-repeat center center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.about .about-text{
    width: 50%;
    padding: 0px 140px;
    font-size: 1.5rem;
    color: #fff;
}
.about .about-lines{
    width: 40%;
    display: flex;
    align-items: center;
}
.about .about-lines .line{
    width: 10px;
    height: 40vh;
    background-color: #4ECCA3;
    border-radius: 10px;
    margin: 0px 40px;
}
.about .about-lines .line:nth-child(2){
    height: 30vh;
}
.about .about-lines .line:nth-child(3){
    height: 25vh;
}
.about .about-lines .line:nth-child(5){
    height: 30vh;
}
.projects{
    width: 100%;
    height: 100vh;
    background: url("../img/Group\ 32.png") center center no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .project-card{
    width: 400px;
    height: 550px;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects .project-card .img{
    width: 90%;
    height: 80%;
    margin: 20px 0px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.projects .project-card a{
    width: 40%;
    height: 40px;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}
.skilss{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skilss h3{
    font-size: 3rem;
    color: #4ECCA3;
}
.skilss .skill-group{
    width: 95%;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.skilss .skill-group .skill-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    border: 1px solid #4ECCA3;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.skilss .skill-group .skill-card img{
    width: 120px;
    height: 120px;
}
.skilss .skill-group .skill-card h2{
    color: #fff;
    font-size: 1.2rem;
}
.skilss .skill-group .skill-card .skill-bar{
    width: 170px;
    height:14px;
    background-color: #282828;
    border-radius: 10px;
}
.skilss .skill-group .skill-card .skill-bar .skill-line{
    width: 100px;
    height:14px;
    background-color: #4ECCA3;
    border-radius: 10px;
}