body{
    background-color: #121212;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
#navbar{
    width: 100%;
    height: auto;
}
#navbar .navbar{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#navbar .navbar .brand{
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #4ECCA3;
}
#navbar .navbar .link-group{
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    flex-grow: 1;
}
#navbar .navbar .link-group .link{
    width: 6rem;
    height: 3rem;
    box-sizing: border-box;
    margin: 0rem 0.5rem;
}
#navbar .navbar .link-group .link a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #4F5D75;
}
#navbar .navbar .link-group .link a:hover{
    color: #4ECCA3;
}
#navbar .navbar .github{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar .navbar .github a{
    border: 1px solid #4ECCA3;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    margin-right: 2rem;
    color: #4ECCA3;
    text-decoration: none;
}
#navbar .navbar .github a:hover{
    background-color: #4ECCA3;
    color: #4F5D75;
}
#home-content{
    max-width: 1600px;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
#home-content .mini-about{
    margin-top: -10%;
    width: 50%;
    height: auto;
    padding: 10rem 0rem;
    background: url("../img/mini-about-back.png") center center no-repeat;
    background-size:100%;
}
#home-content .mini-about span{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: -70px;
}
#home-content .mini-about h2{
    width: 100%;
    height: auto;
    font-size: 6rem;
    margin-bottom: -20px;
    color: #4ECCA3;
}
#home-content .mini-about p{
    width: 100%;
    height: auto;
    font-size: 2rem;
    color: #4F5D75;
}
#home-content .my-photo img{
    position: relative;
    top: -100px;
    width: 90%;
}