@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$base-color : #DA0037;
$base-text-color: #EDEDED;
$back-color: #171717;

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body{
    background-color: $back-color;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-thumb {
        background: $base-color;
        border-radius: 10px;
    }

    .navbar{
        width: 100%;
        height: 80px;
        font-family: 'Lato', sans-serif;
        margin-top: 10px;
        .nav-brand{
            width: 20%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            .nav-brand-img{
                img{
                    height:55px;
                }
            }
            .nav-brand-name{
                width: 120px;
                height: 55px;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                margin: 0px 10px;
                color: $base-text-color;
            }
        }
        .nav-links{
            width: 60%;
            height: 80px;
            float: left;
            .nav-link-group{
                width: auto;
                height: 80px;
                margin-top: 0px;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                .nav-link{
                        width: 120px;
                        height: 50px;
                        text-decoration: none;
                        color: $base-text-color;
                        font-weight: 600;
                        margin: 0px 10px;
                        li{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            float: left;
                            width: 120px;
                            height: 50px;
                            &:hover{
                                border-bottom: 2px solid $base-color;
                            }
                    }
                    
                }
            }
        }
    }
}