@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$base-color : #DA0037;
$base-text-color: #EDEDED;
$back-color: #171717;

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

@import 'navbar';

body{
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-thumb {
        background: $base-color;
        border-radius: 10px;
    }
}