@import 'color';
@import 'navbar';
@import 'home_about';
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
$font : 'Signika', sans-serif;
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body{
    background-color: $back-color;
    .home-back-shapes{
        width: 480px;
        height: 450px;
        transform: rotate(20deg);
        position: absolute;
        left: 22%;
        top: 30%;
        opacity: 0.1;
        .shapes{
            float: left;
            width: 200px;
            height: 200px;
            border: 1px solid $light-green;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
            .shapes-inner{
                width: 75%;
                height: 75%;
                border: 1px solid $light-green;
            }
        }
    }
}